<div data-user-id="<%= id %>" class="msg clear">
    <div>
        <div class="title">
            <button type="button" class="nick"><%= userName %></button>
            <ul class="user_info hide">
                <li class="profile"><a href="<%= userProfileLink %>">Смотреть анкету</a></li>
                <li class="chatMessage"><a href="#">Ответить в чате</a></li>
                <li class="privateMessage"><a href="#" class="move-to-private">Личное сообщение</a></li>
            </ul>
        </div>
    </div>
</div>